xterm*foreground: green
xterm*background: black

xterm*faceName: DS-DIGITAL
xterm*faceSize: 11

!
! Comments begin with a "!" character.
!

XTerm*cursorColor:      yellow
XTerm.vt100.geometry:   79x25
XTerm*scrollBar:        false 
XTerm*scrollTtyOutput:  false

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true
